/U1A4_Greetings/nbproject/private/
/U1A4_Greetings/build/
/GetInputFromUser/nbproject/private/
/test/nbproject/private/
/GetInputFromUser/build/
/AddNumbers/nbproject/private/
/AddNumbers/build/
/StringVariableDemo/nbproject/private/
/StringVariableDemo/build/
/PaneInput/nbproject/private/
/PaneInput/build/
/AddIntegersPane/nbproject/private/
/AddIntegersPane/build/
/AddDoublesPane/nbproject/private/
/AddDoublesPane/build/
/CostOfMeal/nbproject/private/
/CostOfMeal/build/
/MyCalculator/nbproject/private/
/MyCalculator/build/
/SleepCalculator/nbproject/private/
/SleepCalculator/build
/SleepTimer/nbproject/private/
/SleepTimer/build/